name: Terraform CI

on:
  push:
    paths:
      - 'sample-terraform-examples/**'
      - '.github/workflows/terraform.yml'
  pull_request:
    paths:
      - 'sample-terraform-examples/**'
      - '.github/workflows/terraform.yml'

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      TF_WORKING_DIR: sample-terraform-examples
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_VAR_region: ${{ vars.REGION }}
      TF_VAR_instance_type: ${{ vars.INSTANCE_TYPE }}
      TF_VAR_ami_id: ${{ vars.AMI_ID }}
      TF_VAR_instance_name_tag: ${{ vars.INSTANCE_NAME_TAG }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init

      - name: Terraform Validate
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform validate

      - name: Terraform Plan
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform plan

  apply:
    needs: terraform
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    env:
      TF_WORKING_DIR: sample-terraform-examples
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_VAR_region: ${{ vars.REGION }}
      TF_VAR_instance_type: ${{ vars.INSTANCE_TYPE }}
      TF_VAR_ami_id: ${{ vars.AMI_ID }}
      TF_VAR_instance_name_tag: ${{ vars.INSTANCE_NAME_TAG }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init

      - name: Terraform Apply
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform apply -auto-approve